In [1]:
#NIRMALYA_THAKURTA_2052_ASG_8
#Categorical Encoading Assignment 2-One-hot-encoding-frequent_categories

In [44]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# for one hot encoding with feature-engine
from feature_engine.encoding import OneHotEncoder

In [45]:
# load dataset

data = pd.read_csv('houseprice.csv',
    usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [46]:
# let's have a look at how many labels each variable has
for x in data.columns:
    #prinfting unique values
    print(x ,':', len(data[x].unique()),' labels')

Neighborhood : 25  labels
Exterior1st : 15  labels
Exterior2nd : 16  labels
SalePrice : 663  labels

In [47]:
# let's explore the unique categories for Neighborhood, Exterior1st and Exterior2nd
data['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [48]:
data['Exterior1st'].unique()

array(['VinylSd', 'MetalSd', 'Wd Sdng', 'HdBoard', 'BrkFace', 'WdShing',
       'CemntBd', 'Plywood', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object)

In [49]:
data['Exterior2nd'].unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [50]:
# let's separate into training and testing set when target = SalePrice, and test_size = 30%
X_train,X_test,y_train,y_test=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],data['SalePrice'],test_size=0.3,random_state=0)
print(X_train.shape,X_test.shape)

(1022, 3) (438, 3)

In [51]:
#let's first examine how OHE expands the feature space
enc = OneHotEncoder()
enc.fit_transform(X_train).shape

(1022, 56)

In [52]:
# let's find the top 10 most frequent categories for the variable 'Neighborhood'
X_train['Neighborhood'].value_counts()[:10]

NAmes      151
CollgCr    105
OldTown     73
Edwards     71
Sawyer      61
Somerst     56
Gilbert     55
NWAmes      51
NridgHt     51
SawyerW     45
Name: Neighborhood, dtype: int64

In [53]:
# let's make a list with the most frequent (top 10) categories of the variable
X_train.Neighborhood.value_counts()[:10].index.tolist()

['NAmes',
 'CollgCr',
 'OldTown',
 'Edwards',
 'Sawyer',
 'Somerst',
 'Gilbert',
 'NWAmes',
 'NridgHt',
 'SawyerW']

In [54]:
# Create 2 functions to calculate top categories and to apply OHE
def top_x(df2,variable,top_x_labels):
    for label in top_x_labels:
        df2[variable+'_'+label] = np.where(X_train[variable]==label,1,0)
# read the data again
data = pd.read_csv('houseprice.csv',
    usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])
#encode Nighborhood into the 10 most frequent categories
top_x(X_train,'Neighborhood',top_10)
# display data
X_train.head()

,Neighborhood,Exterior1st,Exterior2nd,Neighborhood_NAmes,Neighborhood_CollgCr,Neighborhood_OldTown,Neighborhood_Edwards,Neighborhood_Sawyer,Neighborhood_Somerst,Neighborhood_Gilbert,Neighborhood_NWAmes,Neighborhood_NridgHt,Neighborhood_SawyerW
64,CollgCr,VinylSd,VinylSd,0,1,0,0,0,0,0,0,0,0
682,ClearCr,Wd Sdng,Wd Sdng,0,0,0,0,0,0,0,0,0,0
960,BrkSide,Wd Sdng,Plywood,0,0,0,0,0,0,0,0,0,0
1384,Edwards,WdShing,Wd Shng,0,0,0,1,0,0,0,0,0,0
1100,SWISU,Wd Sdng,Wd Sdng,0,0,0,0,0,0,0,0,0,0

In [55]:
X_train,X_test,y_train,y_test=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],data['SalePrice'],test_size=0.3,random_state=0)
print(X_train.shape,X_test.shape)

(1022, 3) (438, 3)

In [58]:
ohe = OneHotEncoder(top_categories=10, variables=["Neighborhood","Exterior1st","Exterior2nd"])
ohe

OneHotEncoder(top_categories=10,
              variables=['Neighborhood', 'Exterior1st', 'Exterior2nd'])

In [59]:
ohe.variables

['Neighborhood', 'Exterior1st', 'Exterior2nd']

In [60]:
top_x(X_train,'Neighborhood',top_10)
# display data
X_train.drop(['Neighborhood','Exterior1st','Exterior1st'], axis='columns', inplace=True)
X_train.head()

,Exterior2nd,Neighborhood_NAmes,Neighborhood_CollgCr,Neighborhood_OldTown,Neighborhood_Edwards,Neighborhood_Sawyer,Neighborhood_Somerst,Neighborhood_Gilbert,Neighborhood_NWAmes,Neighborhood_NridgHt,Neighborhood_SawyerW
64,VinylSd,0,1,0,0,0,0,0,0,0,0
682,Wd Sdng,0,0,0,0,0,0,0,0,0,0
960,Plywood,0,0,0,0,0,0,0,0,0,0
1384,Wd Shng,0,0,0,1,0,0,0,0,0,0
1100,Wd Sdng,0,0,0,0,0,0,0,0,0,0