In [16]:
# NIRMALYA_THAKURTA_2052_DM_LAB_9
# Categorical Encoading Assignment 3-Integer-Encoding

In [12]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# for integer encoding using sklearn
from sklearn.preprocessing import LabelEncoder

# for integer encoding using feature-engine
from feature_engine.encoding import OrdinalEncoder

In [13]:
# load dataset

data = pd.read_csv(
    'houseprice.csv',
    usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [14]:
for x in data.columns:
    #prinfting unique values
    print(x ,':', len(data[x].unique()),'labels')

Neighborhood : 25 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels
SalePrice : 663 labels

In [15]:
# let's explore the unique categories for Neighborhood , Exterior1st, and Exterior2nd
data['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [16]:
data['Exterior1st'].unique()

array(['VinylSd', 'MetalSd', 'Wd Sdng', 'HdBoard', 'BrkFace', 'WdShing',
       'CemntBd', 'Plywood', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object)

In [17]:
data['Exterior2nd'].unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [18]:
# let's separate into training and testing set when target = SalePrice, and test_size = 30%
# Feature_Encoding
X_train,X_test,y_train,y_test=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],data.SalePrice,test_size=0.3,random_state=0)
print(X_train.shape,X_test.shape)

(1022, 3) (438, 3)

In [20]:
# first let's create a dictionary with the mappings of categories to numbers
df = X_train['Neighborhood'].unique()
dic = {}
index=0
for i in df:
  dic[i] =index
  index+=1
dic

{'CollgCr': 0,
 'ClearCr': 1,
 'BrkSide': 2,
 'Edwards': 3,
 'SWISU': 4,
 'Sawyer': 5,
 'Crawfor': 6,
 'NAmes': 7,
 'Mitchel': 8,
 'Timber': 9,
 'Gilbert': 10,
 'Somerst': 11,
 'MeadowV': 12,
 'OldTown': 13,
 'BrDale': 14,
 'NWAmes': 15,
 'NridgHt': 16,
 'SawyerW': 17,
 'NoRidge': 18,
 'IDOTRR': 19,
 'NPkVill': 20,
 'StoneBr': 21,
 'Blmngtn': 22,
 'Veenker': 23,
 'Blueste': 24}

In [10]:
# replace the labels with the counts
X_train.Neighborhood = pd.factorize(X_train.Neighborhood)[0]
X_train.Exterior1st = pd.factorize(X_train.Exterior1st)[0]
X_train.Exterior2nd = pd.factorize(X_train.Exterior2nd)[0]

In [11]:
X_train['Neighborhood'].head(10)

64      0
682     1
960     2
1384    3
1100    4
416     5
1034    6
853     7
472     3
1011    3
Name: Neighborhood, dtype: int32

In [12]:
X_train.head()

      Neighborhood  Exterior1st  Exterior2nd
64               0            0            0
682              1            1            1
960              2            1            2
1384             3            2            3
1100             4            1            1

In [13]:
# let's separate into training and testing set when target = SalePrice, and test_size = 30%
# Scikit-Learn
train_transformed,test_transformed=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],test_size=0.3,random_state=0)
print(train_transformed.shape,test_transformed.shape)

(1022, 3) (438, 3)

In [20]:
le = LabelEncoder()
train_transformed.Neighborhood = le.fit_transform(train_transformed.Neighborhood)
train_transformed.Exterior1st = le.fit_transform(train_transformed.Exterior1st)
train_transformed.Exterior2nd = le.fit_transform(train_transformed.Exterior2nd)

test_transformed.Neighborhood = le.fit_transform(test_transformed.Neighborhood)
test_transformed.Exterior1st = le.fit_transform(test_transformed.Exterior1st)
test_transformed.Exterior2nd = le.fit_transform(test_transformed.Exterior2nd)

In [21]:
train_transformed.head()

      Neighborhood  Exterior1st  Exterior2nd
64               5           12           13
682              4           13           14
960              3           13           10
1384             7           14           15
1100            18           13           14

In [22]:
test_transformed.head()

     Neighborhood  Exterior1st  Exterior2nd
529             5            9            9
491            11            9           12
459             2            5            7
279             3            6            8
655             1            4            6