In [10]:
# NIRMALYA_THAKURTA_2052_DM_LAB_10
# Categorical Encoading Assignment 4-Count_or_frequency_encoding

In [11]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# to encode with feature-engine
from feature_engine.encoding import CountFrequencyEncoder

In [12]:
# load dataset

data = pd.read_csv(
    'houseprice.csv',
    usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [13]:
# let's have a look at how many labels each variable has
for x in data.columns:
    #prinfting unique values
    print(x ,':', len(data[x].unique()),' labels')

Neighborhood : 25  labels
Exterior1st : 15  labels
Exterior2nd : 16  labels
SalePrice : 663  labels

In [14]:
train,test=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],test_size=0.3,random_state=0)
print(train.shape,test.shape)

(1022, 3) (438, 3)

In [15]:
# let's obtain the counts for each one of the labels
# in the variable Neigbourhood
train.groupby('Neighborhood').size().sort_values(ascending=False)

Neighborhood
NAmes      151
CollgCr    105
OldTown     73
Edwards     71
Sawyer      61
Somerst     56
Gilbert     55
NridgHt     51
NWAmes      51
SawyerW     45
BrkSide     41
Mitchel     36
Crawfor     35
NoRidge     30
Timber      30
IDOTRR      24
ClearCr     24
SWISU       18
StoneBr     16
Blmngtn     12
MeadowV     12
BrDale      10
NPkVill      7
Veenker      6
Blueste      2
dtype: int64

In [16]:
# replace the labels with the counts
train['Neighborhood'] = train['Neighborhood'].map(train['Neighborhood'].value_counts())

In [17]:
# let's explore the result

train['Neighborhood'].head(10)

64      105
682      24
960      41
1384     71
1100     18
416      61
1034     35
853     151
472      71
1011     71
Name: Neighborhood, dtype: int64

In [18]:
# if instead of the count we would like the frequency
# we need only divide the count by the total number of observations:
encoder = CountFrequencyEncoder(encoding_method='frequency',variables= 'Exterior1st')
encoder.fit(train)
encoder.transform(train)
encoder.encoder_dict_

{'Exterior1st': {'VinylSd': 0.3561643835616438,
  'HdBoard': 0.149706457925636,
  'Wd Sdng': 0.14481409001956946,
  'MetalSd': 0.1350293542074364,
  'Plywood': 0.08414872798434442,
  'CemntBd': 0.03816046966731898,
  'BrkFace': 0.03424657534246575,
  'WdShing': 0.02054794520547945,
  'Stucco': 0.016634050880626222,
  'AsbShng': 0.014677103718199608,
  'Stone': 0.0019569471624266144,
  'BrkComm': 0.0009784735812133072,
  'AsphShn': 0.0009784735812133072,
  'ImStucc': 0.0009784735812133072,
  'CBlock': 0.0009784735812133072}}

In [19]:
# replace the labels with the frequencies
train['Exterior1st'] = train['Exterior1st'].map(train['Exterior1st'].value_counts())

In [20]:
train['Exterior1st'].head(10)

64      364
682     148
960     148
1384     21
1100    148
416     153
1034    138
853     138
472     364
1011      1
Name: Exterior1st, dtype: int64

In [21]:
train['Exterior2nd'] = train['Exterior2nd'].map(train['Exterior2nd'].value_counts())

In [22]:
train['Exterior2nd'].head(10)

64      353
682     142
960     112
1384     29
1100    142
416     141
1034    136
853     141
472     353
1011      1
Name: Exterior2nd, dtype: int64

# Count or Frequency Encoding with Feature-Engine

In [23]:
train,test=train_test_split(data[["Neighborhood","Exterior1st","Exterior2nd"]],test_size=0.3,random_state=0)
print(train.shape,test.shape)

(1022, 3) (438, 3)

In [25]:
encoder = CountFrequencyEncoder().fit(train,test)
X_train=encoder.transform(train)
X_test=encoder.transform(test)

In [26]:
# let's explore the result
X_train.head()

      Neighborhood  Exterior1st  Exterior2nd
64             105          364          353
682             24          148          142
960             41          148          112
1384            71           21           29
1100            18          148          142